@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Quicksand:400,700&display=swap&subset=latin-ext');


//var

$absToTop: 40px; //absolute posiotion from top
$primaryColor: #0b2781;

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(171deg, rgba(190, 197, 241, 1) 0%, rgba(143, 153, 212, 1) 50%, rgba(102, 116, 194, 1) 94%);
  height: 100vh;
}

#container {
  position: relative;
  min-height: 600px;
  width: 350px;
  background: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.66);
  overflow: hidden;
}

.appHeader {
  text-align: center;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appName {
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 5px 10px;

  h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
}

.userInfo {
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  text-align: left;
  padding: 18px 18px 0px 18px;

  h1 {
    font-weight: 300;
  }

  span {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    color: #bdbcbc;
  }
}

#siteFooter {
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  color: #adadad;
  user-select: none;

  h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }

  h3 {
    font-weight: 300;
    font-size: 0.9em;
  }
}

.appContent {
  position: relative;
  min-height: 450px;
  padding: 10px;

  h2 {
    font-size: 1em;
    color: #0b2781;
  }

  #upcomingEvent {
    font-size: 0.9em;
    margin-bottom: 20px;
    // text-transform: uppercase;

    p {
      display: inline;
    }

    p:first-of-type {
      font-weight: bold;
    }
  }

}

#addBtn {
  outline: none;
  cursor: pointer;
  position: absolute;
  color: white;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border: none;
  padding: 7px;
  border-radius: 100%;
  background: linear-gradient(171deg, rgba(112, 130, 246, 1) 0%, rgba(72, 112, 240, 1) 50%, rgba(30, 60, 223, 1) 94%);
}

#addForm {
  position: absolute;
  top: $absToTop;
  left: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - #{$absToTop});
  padding: 10px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  display: none;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.1em;
      color: $primaryColor;
    }
  }

  input,
  select {
    border: none;
    border-bottom: 2px solid gray;
    margin: 10px;
    padding: 5px;
    outline: none;
    width: 90%;

    &:focus {
      border-bottom: 2px solid $primaryColor;
    }
  }

  select {
    width: 93%;
    padding: 5px 0;
    margin: 20px;
  }

  #choice option {
    color: black;
  }

  .empty {
    color: gray;
  }

  input[type="button"] {
    border: none;
    padding: 15px 0;
    width: 94%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(171deg, rgba(72, 112, 240, 1) 0%, rgba(30, 60, 223, 1) 94%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  }
}

.addFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.iconContainer {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 40px;
  border: 2px solid gray;
  margin-bottom: 20px;

  // &:after {
  //   content: "Type";
  //   position: absolute;
  //   font-size: 0.8em;
  //   width: 50px;
  //   bottom: -40px;
  //   color: $primaryColor;
  //   font-weight: bold;
  //   left: 0;

  // }

  ion-icon {
    font-size: 45px;
  }
}


ion-icon {
  cursor: pointer;
}

@keyframes showEl {
  from {
    top: 500px;
    opacity: 0.4;
  }

  to {
    top: $absToTop;
    opacity: 1;
  }
}

@keyframes hideEl {

  from {
    top: $absToTop;
    opacity: 1;
  }

  to {
    top: 700px;
    opacity: 0.4;
  }
}